<?xml version="1.0" encoding="utf-8" ?>
<bundles version="1.0">
  <styleBundle path="~/Content/css">
    <include path="~/Content/bootstrap.css" />
    <include path="~/Content/jquery-ui.min.css" />
    <include path="~/Content/jquery-ui.structure.min.css" />
    <include path="~/Content/jquery-ui.theme.min.css" />
    <include path="~/Content/Site.css" />
  </styleBundle>
</bundles>