<?xml version="1.0"?>
<configuration>

  <system.web>
    <authorization>
      <deny users="?"/>
    </authorization>
  </system.web>

  <location path="AddPosition.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
        <allow roles="Administrator, Manager"/>
      </authorization>
    </system.web>
  </location>

  <location path="DeptManage.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
        <allow roles="Administrator, Manager"/>
      </authorization>
    </system.web>
  </location>
  
  
</configuration>
